<h1 class="title">Starches</h1>

<div class="page">
	<div class="container">
		<div class="border">
			<img src="../../assets/img/bagels.jpeg">
			<p>$7.99</p>
			<p>Bagels</p><br>
			<button>Sign in to Add</button><br>
		</div>
	  <div class="border">
			<img src="../../assets/img/beans.jpg">
			<p>$17.99</p>
			<p>Beans</p><br>
			<button>Sign in to Add</button><br>
		</div>
	  <div class="border">
			<img src="../../assets/img/bread.jpeg">
			<p>$8.99</p>
			<p>Bread</p><br>
			<button>Sign in to Add</button><br>
		</div>
	</div><br>

	<div class="container">
	  <div class="border">
			<img src="../../assets/img/pasta.jpeg">
			<p>$10.99</p>
			<p>Pasta</p><br>
			<button>Sign in to Add</button><br>
		</div>
	  <div class="border">
			<img src="../../assets/img/potatoes.jpg">
			<p>$19.99</p>
			<p>Potatoes</p><br>
			<button>Sign in to Add</button><br>
		</div>
	  <div class="border">
			<img src="../../assets/img/rice.jpg">
			<p>$12.99</p>
			<p>Rice</p><br>
			<button>Sign in to Add</button><br>
		</div>
	</div>
</div>