<div class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="assets/img/silver_logo.jpg">
      &nbsp; Silver
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/">Home</a>
      <div class="navbar-item drop">
        
        <a style="color:white;">Catalog</a>
        <div class="catalog-content">
          <a routerLink="/catalog/starches">Starches</a>
          <a routerLink="/catalog/meats">Meats</a>
          <a routerLink="/catalog/fruits">Fruits</a>
        </div>
      </div> 
      <a class="navbar-item" routerLink="/contact">Contact</a>
    </div>
    
  </div>
  
</div>