<h1 class="title">Meats</h1>

<div class="page">
	<div class="container">
		<div class="border">
			<img src="../../assets/img/beef.jpg">
			<p>$7.99</p>
			<p>Beef</p><br>
			<button>Sign in to Add</button><br>
		</div>
	  <div class="border">
			<img src="../../assets/img/chicken.jpeg">
			<p>$17.99</p>
			<p>Chicken</p><br>
			<button>Sign in to Add</button><br>
		</div>
	  <div class="border">
			<img src="../../assets/img/duck.jpg">
			<p>$8.99</p>
			<p>Duck</p><br>
			<button>Sign in to Add</button><br>
		</div>
	</div><br>

	<div class="container">
	  <div class="border">
			<img src="../../assets/img/lamb.jpg">
			<p>$10.99</p>
			<p>Lamb</p><br>
			<button>Sign in to Add</button><br>
		</div>
	  <div class="border">
			<img src="../../assets/img/pork.jpeg">
			<p>$19.99</p>
			<p>Pork</p><br>
			<button>Sign in to Add</button><br>
		</div>
	  <div class="border">
			<img src="../../assets/img/turkey.jpg">
			<p>$12.99</p>
			<p>Turkey</p><br>
			<button>Sign in to Add</button><br>
		</div>
	</div>
</div>